<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>FotoBlog</title>
        <meta charset="utf-8" />
        <meta name="description" content="FotoBlog" />
        <meta name="keywords" content="FotoBlog" />
    </head>
    <body>
        <h1>FotoBlog</h1>
        {% block content %}
        {% endblock content %}
        {% if user.is_authenticated %}
            <p>
                Vous êtes connecté en tant que {{ request.user }}. <a href={% url 'logout' %}>Se déconnecter</a>
            </p>
            <p>
                Vous souhaitez changer de mot de passe ? Cliquez <a href={% url 'password_change' %}>ici</a>
            </p>
        {% endif %}
    </body>
</html>
